<div id="event">
  <div class="container">
    <div>title: <%= link_to event.title, event_path(event.id) %></div>
    <div>description: <%= event.description %></div>
    <div>location: <%= event.location %></div>
    <div>date: <%= event.date %></div>
  </div>
</div>